.floatRight {
  float: right;
}

.modal {
  position: fixed;
  z-index: 1020;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal_close {
  z-index: 3;
  top: 0;
  right: 0;
  padding: 10px;
  filter: drop-shadow(5px 5px 5px #222);
}

.modalPicture {
  width: 320px;
}

.modal_header {
  background-color: var(--main-bg-color);
  min-height: fit-content;
  padding: 10px;
  width: 300px;
}

.modal_details {
  padding: 10px;
}

.modal_title {
  font-weight: bold;
}

.modal_header_title {
  font-size: 1.5em;
}

.modal_quote {
  font-style: italic;
  font-weight: bold;
}

.modal_list {
  padding: 4px;
}
